<div id="eventData">
    <h2 id="numPersons" data-persons="<%= event.persons%>" data-num="<%= event.num%>">
        <%= event.persons %>/<%= event.num %>
    </h2>
    <h2 id="date">
        <%= event.date%>
    </h2>
    <h2 id="level">
        <%= event.level%>
    </h2>
    <h2 id="location">
        <%= event.location%>
    </h2>
    <h2 id="age">
        <%= event.age%>

    </h2>
    <h2 id="cost">
        <%= event.cost%>   
    </h2>
</div>
