




<main class="mainContent">

    <section class="home">
        
        <% for (var i = events.length-1; i >=0; i--) {%>

            <a href="/event/<%= events[i]._id %>" data-id="<%= events[i]._id %>"><article class="eventList" style="background-image: url(<%=events[i].path%>); background-size: cover;"><div class="centered"><span class="typehover"><%=events[i].typeEvent.charAt(0).toUpperCase() + events[i].typeEvent.slice(1) %></span><span id="numEventPerson"><%= events[i].persons  %>/<%= events[i].num %></span></div></article></a>

        <% } %>       

    </section>

</main>